<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="myvar" value="myvalue"/>

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
	<targets>

		<!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

		
    
        <target xsi:type="File" name="LogTrace" fileName="${basedir}/logs/${shortdate}.log"
                layout="${longdate} ${appdomain} ${callsite} ${logger} ${aspnet-mvc-controller} ${uppercase:${level}} ${message}" />
		
		<target xsi:type="File" name="LogDebug" fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${callsite} ${logger} ${aspnet-mvc-controller} ${aspnet-request-method} ${uppercase:${level}} ${message}"/>

		<target xsi:type="File" name="LogInfo" fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${local-ip} ${callsite} ${logger} ${aspnet-mvc-controller} ${uppercase:${level}} ${message}"/>

		<target xsi:type="File" name="LogError" fileName="${basedir}/logs/${shortdate}.log"
		        layout="${longdate} ${local-ip} ${callsite} ${logger} ${aspnet-mvc-controller} ${uppercase:${level}} ${exception} ${message}"/>

		<target xsi:type="File" name="LogWarn" fileName="${basedir}/logs/${shortdate}.log"
		        layout="${longdate} ${callsite} ${logger} ${aspnet-mvc-controller} ${uppercase:${level}} ${message}"/>

		<target xsi:type="File" name="LogFatal" fileName="${basedir}/logs/${shortdate}.log"
		        layout="${longdate} ${local-ip} ${callsite} ${logger} ${aspnet-mvc-controller} ${aspnet-mvc-action} ${aspnet-request-ip} ${uppercase:${level}} ${message}"/>
    
	</targets>

	<rules>
		<!-- add your logging rules here -->

    <logger name="*" level="Trace" writeTo="LogTrace" />
	<looger name="*" level="Debug" writeTo="LogDebug"/>
	<logger name="*" level="Info" writeTo="LogInfo"/>
	<logger name="*" level="Error" writeTo="LogError"/>
	<logger name="*" level="Warn" writeTo="LogWarn"/>
	<logger name="*" level="Fatal" writeTo="LogFatal"/>
	</rules>
</nlog>